
#Ignore all JPEG files  
*.jpg  

*.jpeg  

# Ignore all PNG files  
*.png  

# Ignore all GIF files  
*.gif  

# Ignore all BMP files  
*.bmp  

# Ignore all MP4 files  
*.mp4  

# Ignore all AVI files  
*.avi  

# Ignore all MOV files  
*.mov  

videos/
*.db

*.txt

*.json